.passage {
  float: right;
  width: 820px;
  margin-right: 20px;
  font-size: 30px;
}

.image {
  float: left;
  width: 800px;
}

.links {
  clear: both;
  font-size: 30px;
}

h1 {
  text-align: center;
  font-size: 50px;
  color: #f2af2c;
  border-bottom: 2px solid darkGrey;
  padding: 10px;
}
